[submodule "bundle/fugitive"]
	path = pack/bundles/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
	ignore = all
[submodule "bundle/tasklist"]
	path = pack/bundles/start/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
	branch = master
	ignore = all
[submodule "bundle/nerdtree"]
	path = pack/bundles/opt/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
	branch = master
	ignore = all
[submodule "bundle/nerdcommenter"]
	path = pack/bundles/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
	ignore = all
[submodule "bundle/YankRing"]
	path = pack/bundles/start/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
	branch = master
	ignore = all
[submodule "bundle/plantuml-syntax"]
	path = pack/bundles/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
	branch = master
	ignore = all
[submodule "bundle/tagbar"]
	path = pack/bundles/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
	ignore = all
[submodule "bundle/vim-indent-guides"]
	path = pack/bundles/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	branch = master
	ignore = all
[submodule "bundle/cscope_maps"]
	path = pack/bundles/start/cscope_maps
	url = https://github.com/chazy/cscope_maps.git
	branch = master
	ignore = all
[submodule "bundle/vim-gitgutter"]
	path = pack/bundles/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = main
	ignore = all
[submodule "bundle/SrcExpl"]
	path = pack/bundles/start/SrcExpl
	url = https://github.com/vim-scripts/SrcExpl
	branch = master
	ignore = all
[submodule "bundle/neomru"]
	path = pack/bundles/start/neomru
	url = https://github.com/Shougo/neomru.vim.git
	branch = master
	ignore = all
[submodule "bundle/vimproc"]
	path = pack/bundles/start/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
	branch = master
	ignore = all
[submodule "bundle/vim-dirdiff"]
	path = pack/bundles/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
	branch = master
	ignore = all
[submodule "bundle/typescript-vim"]
	path = pack/bundles/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/fzf"]
	path = pack/bundles/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "bundle/fzf.vim"]
	path = pack/bundles/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/undotree"]
	path = pack/bundles/start/undotree
	url = https://github.com/mbbill/undotree/
[submodule "bundle/vim-airline"]
	path = pack/bundles/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = pack/bundles/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-fubitive"]
	path = pack/bundles/start/vim-fubitive
	url = https://github.com/tommcdo/vim-fubitive.git
[submodule "bundle/vim-rhubarb"]
	path = pack/bundles/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "bundle/vim-jinja"]
	path = pack/bundles/start/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "bundle/ale"]
	path = pack/bundles/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/jsonc"]
	path = pack/bundles/start/jsonc
	url = https://github.com/neoclide/jsonc.vim
[submodule "bundle/vim-log-highlighting"]
	path = pack/bundles/start/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting.git
[submodule "bundle/vim-argumentative"]
	path = pack/bundles/start/vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative.git
[submodule "bundle/vim-matchup"]
	path = pack/bundles/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "bundle/vimspector"]
	path = pack/bundles/opt/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "pack/bundles/opt/mason.nvim"]
	path = pack/bundles/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "pack/bundles/start/fzf-lua"]
	path = pack/bundles/opt/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "pack/bundles/start/lsp-zero.nvim"]
	path = pack/bundles/start/lsp-zero.nvim
	url = https://github.com/VonHeikemen/lsp-zero.nvim.git
[submodule "pack/bundles/start/mason-lspconfig.nvim"]
	path = pack/bundles/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "pack/bundles/start/nvim-lspconfig"]
	path = pack/bundles/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/bundles/start/nvim-web-devicons"]
	path = pack/bundles/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/bundles/start/lush.nvim"]
	path = pack/bundles/start/lush.nvim
	url = https://github.com/rktjmp/lush.nvim.git
[submodule "pack/bundles/start/github-nvim-theme"]
	path = pack/bundles/start/github-nvim-theme
	url = https://github.com/projekt0n/github-nvim-theme.git
[submodule "pack/bundles/start/nvim-treesitter"]
	path = pack/bundles/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/bundles/start/vim-scimark"]
	path = pack/bundles/start/vim-scimark
	url = https://github.com/mipmip/vim-scimark.git
[submodule "pack/bundles/start/tabline.vim"]
	path = pack/bundles/start/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule "pack/bundles/start/nvim-tree.lua"]
	path = pack/bundles/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "pack/bundles/start/vim-just"]
	path = pack/bundles/start/vim-just
	url = https://github.com/NoahTheDuke/vim-just.git
[submodule "pack/bundles/start/tree-sitter-just"]
	path = pack/bundles/start/tree-sitter-just
	url = https://github.com/IndianBoy42/tree-sitter-just.git
[submodule "pack/bundles/start/rust-tools.nvim"]
	path = pack/bundles/start/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim
[submodule "pack/bundles/start/tree-sitter-cmake"]
	path = pack/bundles/start/tree-sitter-cmake
	url = https://github.com/uyha/tree-sitter-cmake.git
[submodule "pack/bundles/opt/nvim-dap"]
	path = pack/bundles/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "pack/bundles/opt/nvim-dap-ui"]
	path = pack/bundles/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "pack/bundles/start/nvim-nio"]
	path = pack/bundles/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "pack/bundles/start/nvim-dap-python"]
	path = pack/bundles/start/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python.git
